[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Batreyu
[access "refs/for/refs/*"]
	read = group user/Batreyu
	push = group user/Batreyu
	label-Code-Review = -2..+2 group user/Batreyu
	label-Verified = -1..+1 group user/Batreyu
	rebase = group user/Batreyu
	removeReviewer = group user/Batreyu
	submit = group user/Batreyu
[access "refs/heads/*"]
	read = group user/Batreyu
	create = group user/Batreyu
	push = +force group user/Batreyu
	pushMerge = group user/Batreyu
[access "refs/tags/*"]
	push = +force group user/Batreyu
	createTag = group user/Batreyu
	createSignedTag = group user/Batreyu
